.form__button {
  background-color: var(--color-uol);
  border: solid 1px var(--color-uol);
  margin: 0 10px; }
  .form__button:hover {
    background-color: var(--color-uol);
    border: solid 1px var(--color-uol); }
