@import "./_partial.scss";

.form__button {
    background-color:var(--color-uol);
    border:solid 1px var(--color-uol);
    margin:0 10px;
    
    &:hover {
        background-color:var(--color-uol);
        border:solid 1px var(--color-uol);
    } 
}